*{
	margin:0;
	padding:0;
	list-style:none;
}
.page1{
	width:100%;
	height:100vh;
	position:absolute;
	overflow:hidden;
	z-index:10;
}
.page1 .doorleft{
	width:50%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:url(../img/left.png) no-repeat 0/100% 100%;
}
.page1 .lmove{
	animation:doorl 2s ease forwards;
}
.page1 .lmovehl{
	animation:doorlh 2s ease forwards;
}
.page1 .doorright{
	width:50%;
	height:100%;
	position:absolute;
	top:0;
	left:50%;
	background:url(../img/right.png) no-repeat 0/100% 100%;
}
.page1 .rmove{
	animation:doorr 2s ease forwards;	
}
.page1 .rmovehl{
	animation:doorrh 2s ease forwards;	
}
@keyframes doorl{
	0%{left:0;}
	100%{left:-50%;}
}
@keyframes doorr{
	0%{left:50%;}
	100%{left:100%;}
}
@keyframes doorlh{
	0%{left:-50%;}
	100%{left:0;}
}
@keyframes doorrh{
	0%{left:100%;}
	100%{left:50%;}
}
.page1 .p{
	width:260px;
	height: 80px;
	position:absolute;
	left:0;
	right:0;
	bottom:38%;
	margin:auto;
	font:bold 50px serif;
	text-align:center;
	cursor:pointer;	
	background:url(../img/enter.png) no-repeat 0/100% 100%;
	transition:1s;
}
.page1 .imgp{
	animation:touming 2s ease forwards;
}
.page1 .imgph{
	animation:touminghl 2s ease forwards;
}
@keyframes touming{
	0%{opacity:1;transform:translate3d(0,0,0);}
	100%{opacity:0;transform:translate3d(-800px,0,0);}
}
@keyframes touminghl{
	0%{opacity:1;transform:translate3d(0,0,0);}
	100%{opacity:0;transform:translate3d(800px,0,0);}
}

@keyframes typing {
	from { width: 0 }
}
@keyframes caret {
	50% { border-right-color: transparent; }
}

@keyframes qpzhuan{
	0%{
		transform:scale(0,0) rotateZ(45deg);
	}
	50%{
		transform:scale(0.5,0.5) rotateZ(36000deg)
	}
	100%{
		transform:scale(1,1) rotateZ(45deg);
	}
}
.page2{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100vh;
	background:url(../img/bg.jpg);
	background-size:100% 100%;
}
.page2 .qi{
	width:40px;
	height:40px;
	display: inline-block;
	position:absolute;
	top:-280px;
	right:280px;
	
}
.page2 .qi.hei{
	background:url(../img/hei.png) no-repeat 0/100% 100%;
}
.page2 .qi.bai{
	background:url(../img/bai.png) no-repeat 0/100% 100%;
}
.page2 .addhei{
	top:200px;
	transition:top .8s ease-in-out .2s;
}
.page2 .addbai{
	top:420px;
	transition:top .8s ease-in-out .2s;
}
.page2 .tishi{
	width:350px;
	height:210px;
	border-radius:6px;
	background:url(../img/five.jpg) no-repeat 0/100% 100%;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	opacity:0;
	z-index:-1;
}
.page2 .tishishow{
	animation:show 1s ease forwards;
}
@keyframes show{
	0%{opacity:0;z-index:20;}
	100%{opacity:1;z-index:20;}
}
.page2 .tishi span{
	width:100%;
	height:90px;
	text-align:center;
	line-height:90px;
	float:left;
	color:rgba(255,10,10,1);
	font-size: 30px;
	font-family: "微软雅黑";
}
.page2 .tishi .select{
	width:100%;
	height:60px;
	margin-top:20px ;
	float:left;
}
.page2 .tishi .select li{
	height:40px;
	width:120px;
	background:url(../img/btn.png) no-repeat 0/100% 100%;
	border-radius:3px;
	margin:10px 25px;
	color:rgba(255,226,69,1);
	font-size:18px;
	text-align:center;
	line-height:40px;
	cursor:pointer;
	float:left;
}
.page2 .tishi .select .no{
	float:right;
	margin-right:25px;
}
#canvas{
	/*border:16px solid #8f6125;*/
	border-radius:3px;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	/*background:#dcb065;*/
	background:url(../img/five.jpg);
	background-size: cover;
	cursor:pointer;
}
.canvas1,.canvas2{
	position:absolute;
	top:180px;
	right:140px;
	border-radius: 50%;
	background:url(../img/c3.jpg);
	background-size: cover;
}
.canvas2{
	top:400px;
	background:url(../img/c2.jpg);
	background-size: cover;
}
.anniubox{
	width:200px;
	height:430px;
	position:absolute;
	top:0;
	bottom:0;
	left:80px;
	margin:auto;
	/*background:pink;	*/
}
.button{
	width: 160px;
	height: 50px;
	display:inline-block;
	line-height: 50px;
	text-align: center;
	/*padding:10px 20px;*/
	box-sizing: border-box;
	margin:10px;
	border-radius:3px;
	font-family: "微软雅黑";
	font-size: 18px;
	color:#FDE3A8;
	float:left;
	cursor:pointer;
	background:url(../img/btn.png) no-repeat 0/100% 100%;
	transition:transform .8s ease-in-out;
}

.active{
	animation:anniu .2s ease-in-out forwards;
}
@keyframes anniu{
	0%{transform:translate3d(0,0,0) scale(1.5,1.5);color:rgba(255,226,69,1);font-weight:normal;}
	100%{transform:translate3d(0,5px,0) scale(1.5,1.5);color:#fff;font-weight:bold;}
}
.jieshaoinfo{
	width:350px;
	height:210px;
	border-radius:6px;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	font-size:18px;
	line-height:20px;
	color:rgba(255,10,19,1);
	background:url(../img/five.jpg) no-repeat 0/100% 100%;
	opacity:0;
	z-index:-10;
}
.jieshaoinfo p{
	padding:2px 20px;
}
.jieshaoinfo .js{
	margin-top:12px;
}
.jieshaoinfo span{
	display:inline-block;
	width:100px;
	height:40px;
	border-radius:3px;
	text-align:center;
	line-height:40px;
	color:rgba(255,226,69,1);
	background:url(../img/btn.png) no-repeat 0/100% 100%;
	position:absolute;
	left:0;
	right:0;
	bottom:10px;
	margin:auto;
	cursor:pointer;
}
.jsshow{
	animation:show 1s ease forwards;
}